<%- include('header') -%>

    <body>
        <div class="main-wrapper d-flex">

            <%- include('nav') -%>

                <div class="main-content bg-light.bg-gradient">
                    <header class="col-12 bg-white py-3 px-0 d-flex align-items-center justify-content-center">
                        <div class="serch col pt-2">
                            <i class="bi bi-search ps-4 fs-6"></i> search
                        </div>
                        <div class="i-list col-6 d-flex align-items-center justify-content-end">
                            <ul class="d-flex list-unstyled align-items-center justify-content-center m-0">
                                <li class="d-flex p-2 m-0">
                                    <div class="rounded-circle contry">
                                        <img src="images/download.png" class="img-fluid" alt="">
                                    </div>
                                    <span class="px-2 usa">USA</span>
                                </li>
                                <li class="p-2 m-1">
                                    <i class="bi bi-moon"></i>
                                </li>
                                <li class="p-2 m-1">
                                    <i class="bi bi-palette"></i>
                                </li>
                                <li class="p-2 m-1">
                                    <i class="bi bi-envelope"></i>
                                </li>
                                <li class="p-2 m-1">
                                    <i class="bi bi-bell"></i>
                                </li>

                                <li class="d-flex align-items-center p-2">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle d-flex align-items-center p-2" style="color: black; text-decoration: none;" href="#" data-bs-toggle="dropdown">
                                            <div class="profile rounded-circle">
                                                <img src="images/download (1).png" alt="">
                                            </div>
                                            <div class="name px-2">
                                                Narendra Posal
                                            </div>
                                        </a>
                                      
                                        <ul class="dropdown-menu ps-5">
                                            <li><a href="/profile" style="color: black; text-decoration: none;">Profile</a></li>
                                            <li><a href="/blog" style="color: black; text-decoration: none;">blog</a></li>
                                            <li><a href="/logOut" style="color: black; text-decoration: none;">logOut</a></li>
                                        </ul>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </header>


                    <div class="container-fluid p-2">

                        <div class="home col-12 d-flex justify-content-between align-items-center">
                            <div class="h2 mx-4 m-2 fs-3">
                                Home
                            </div>
                            <input type="date" class="border-0 p-3">
                        </div>

                        <div class="abcd p-2 d-flex mt-3">
                            <div class="col-3 p-2">
                                <div class="upgrade p-3 ps-4 rounded d-flex align-items-center justify-content-center">
                                    <div class="words col-9 me-4">
                                        <h3 class="fs-5">
                                            Upgrade Your Dashcode
                                        </h3>
                                        <p>Pro plan for better results</p>
                                    </div>
                                    <div class="cta col-3">
                                        <button class="bg-white rounded-circle p-1 border-0 py-2">
                                            Now
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-9 d-flex bg-white rounded p-3">
                                <div class="col-4">
                                    <div
                                        class="border p-2 bg-primary-subtle rounded d-flex align-items-center border-4 border-white">
                                        <div class="chart">
                                            <svg id="SvgjsSvg1343" width="48" height="48"
                                                xmlns="http://www.w3.org/2000/svg" version="1.1"
                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg hovering-pan"
                                                xmlns:data="ApexChartsNS" transform="translate(0, 0)"
                                                style="background: transparent;">
                                                <g id="SvgjsG1345" class="apexcharts-inner apexcharts-graphical"
                                                    transform="translate(0, 0)">
                                                    <defs id="SvgjsDefs1344">
                                                        <clipPath id="gridRectMaskk9xketry">
                                                            <rect id="SvgjsRect1351" width="54" height="50" x="-3"
                                                                y="-1" rx="0" ry="0" opacity="1" stroke-width="0"
                                                                stroke="none" stroke-dasharray="0" fill="#fff"></rect>
                                                        </clipPath>
                                                        <clipPath id="forecastMaskk9xketry"></clipPath>
                                                        <clipPath id="nonForecastMaskk9xketry"></clipPath>
                                                        <clipPath id="gridRectMarkerMaskk9xketry">
                                                            <rect id="SvgjsRect1352" width="52" height="52" x="-2"
                                                                y="-2" rx="0" ry="0" opacity="1" stroke-width="0"
                                                                stroke="none" stroke-dasharray="0" fill="#fff"></rect>
                                                        </clipPath>
                                                    </defs>
                                                    <line id="SvgjsLine1350" x1="26.928571428571427" y1="0"
                                                        x2="26.928571428571427" y2="48" stroke="#b6b6b6"
                                                        stroke-dasharray="3" stroke-linecap="butt"
                                                        class="apexcharts-xcrosshairs" x="26.928571428571427" y="0"
                                                        width="1" height="48" fill="#b1b9c4" filter="none"
                                                        fill-opacity="0.9" stroke-width="1"></line>
                                                    <g id="SvgjsG1359" class="apexcharts-xaxis"
                                                        transform="translate(0, 0)">
                                                        <g id="SvgjsG1360" class="apexcharts-xaxis-texts-g"
                                                            transform="translate(0, 4)"></g>
                                                    </g>
                                                    <g id="SvgjsG1370" class="apexcharts-grid">
                                                        <g id="SvgjsG1371" class="apexcharts-gridlines-horizontal"
                                                            style="display: none;">
                                                            <line id="SvgjsLine1373" x1="0" y1="0" x2="48" y2="0"
                                                                stroke="#e0e0e0" stroke-dasharray="0"
                                                                stroke-linecap="butt" class="apexcharts-gridline">
                                                            </line>
                                                            <line id="SvgjsLine1374" x1="0" y1="8" x2="48" y2="8"
                                                                stroke="#e0e0e0" stroke-dasharray="0"
                                                                stroke-linecap="butt" class="apexcharts-gridline">
                                                            </line>
                                                            <line id="SvgjsLine1375" x1="0" y1="16" x2="48" y2="16"
                                                                stroke="#e0e0e0" stroke-dasharray="0"
                                                                stroke-linecap="butt" class="apexcharts-gridline">
                                                            </line>
                                                            <line id="SvgjsLine1376" x1="0" y1="24" x2="48" y2="24"
                                                                stroke="#e0e0e0" stroke-dasharray="0"
                                                                stroke-linecap="butt" class="apexcharts-gridline">
                                                            </line>
                                                            <line id="SvgjsLine1377" x1="0" y1="32" x2="48" y2="32"
                                                                stroke="#e0e0e0" stroke-dasharray="0"
                                                                stroke-linecap="butt" class="apexcharts-gridline">
                                                            </line>
                                                            <line id="SvgjsLine1378" x1="0" y1="40" x2="48" y2="40"
                                                                stroke="#e0e0e0" stroke-dasharray="0"
                                                                stroke-linecap="butt" class="apexcharts-gridline">
                                                            </line>
                                                            <line id="SvgjsLine1379" x1="0" y1="48" x2="48" y2="48"
                                                                stroke="#e0e0e0" stroke-dasharray="0"
                                                                stroke-linecap="butt" class="apexcharts-gridline">
                                                            </line>
                                                        </g>
                                                        <g id="SvgjsG1372" class="apexcharts-gridlines-vertical"
                                                            style="display: none;"></g>
                                                        <line id="SvgjsLine1381" x1="0" y1="48" x2="48" y2="48"
                                                            stroke="transparent" stroke-dasharray="0"
                                                            stroke-linecap="butt">
                                                        </line>
                                                        <line id="SvgjsLine1380" x1="0" y1="1" x2="0" y2="48"
                                                            stroke="transparent" stroke-dasharray="0"
                                                            stroke-linecap="butt">
                                                        </line>
                                                    </g>
                                                    <g id="SvgjsG1353"
                                                        class="apexcharts-area-series apexcharts-plot-series">
                                                        <g id="SvgjsG1354" class="apexcharts-series"
                                                            seriesName="series-1" data:longestSeries="true" rel="1"
                                                            data:realIndex="0">
                                                            <path id="SvgjsPath1357"
                                                                d="M 0 48L 0 24C 2.4 24 4.457142857142857 40 6.857142857142857 40C 9.257142857142856 40 11.314285714285713 8 13.714285714285714 8C 16.114285714285714 8 18.17142857142857 24 20.57142857142857 24C 22.971428571428568 24 25.02857142857143 40 27.428571428571427 40C 29.828571428571426 40 31.885714285714286 8 34.285714285714285 8C 36.68571428571428 8 38.74285714285714 24 41.14285714285714 24C 43.54285714285714 24 45.6 16 48 16C 48 16 48 16 48 48M 48 16z"
                                                                fill="rgba(0,235,255,0.1)" fill-opacity="1"
                                                                stroke-opacity="1" stroke-linecap="butt"
                                                                stroke-width="0" stroke-dasharray="0"
                                                                class="apexcharts-area" index="0"
                                                                clip-path="url(#gridRectMaskk9xketry)"
                                                                pathTo="M 0 48L 0 24C 2.4 24 4.457142857142857 40 6.857142857142857 40C 9.257142857142856 40 11.314285714285713 8 13.714285714285714 8C 16.114285714285714 8 18.17142857142857 24 20.57142857142857 24C 22.971428571428568 24 25.02857142857143 40 27.428571428571427 40C 29.828571428571426 40 31.885714285714286 8 34.285714285714285 8C 36.68571428571428 8 38.74285714285714 24 41.14285714285714 24C 43.54285714285714 24 45.6 16 48 16C 48 16 48 16 48 48M 48 16z"
                                                                pathFrom="M -1 88L -1 88L 6.857142857142857 88L 13.714285714285714 88L 20.57142857142857 88L 27.428571428571427 88L 34.285714285714285 88L 41.14285714285714 88L 48 88">
                                                            </path>
                                                            <path id="SvgjsPath1358"
                                                                d="M 0 24C 2.4 24 4.457142857142857 40 6.857142857142857 40C 9.257142857142856 40 11.314285714285713 8 13.714285714285714 8C 16.114285714285714 8 18.17142857142857 24 20.57142857142857 24C 22.971428571428568 24 25.02857142857143 40 27.428571428571427 40C 29.828571428571426 40 31.885714285714286 8 34.285714285714285 8C 36.68571428571428 8 38.74285714285714 24 41.14285714285714 24C 43.54285714285714 24 45.6 16 48 16"
                                                                fill="none" fill-opacity="1" stroke="#00ebff"
                                                                stroke-opacity="1" stroke-linecap="butt"
                                                                stroke-width="2" stroke-dasharray="0"
                                                                class="apexcharts-area" index="0"
                                                                clip-path="url(#gridRectMaskk9xketry)"
                                                                pathTo="M 0 24C 2.4 24 4.457142857142857 40 6.857142857142857 40C 9.257142857142856 40 11.314285714285713 8 13.714285714285714 8C 16.114285714285714 8 18.17142857142857 24 20.57142857142857 24C 22.971428571428568 24 25.02857142857143 40 27.428571428571427 40C 29.828571428571426 40 31.885714285714286 8 34.285714285714285 8C 36.68571428571428 8 38.74285714285714 24 41.14285714285714 24C 43.54285714285714 24 45.6 16 48 16"
                                                                pathFrom="M -1 88L -1 88L 6.857142857142857 88L 13.714285714285714 88L 20.57142857142857 88L 27.428571428571427 88L 34.285714285714285 88L 41.14285714285714 88L 48 88">
                                                            </path>
                                                            <g id="SvgjsG1355" class="apexcharts-series-markers-wrap"
                                                                data:realIndex="0">
                                                                <g class="apexcharts-series-markers">
                                                                    <circle id="SvgjsCircle1387" r="0"
                                                                        cx="27.428571428571427" cy="40"
                                                                        class="apexcharts-marker w0g2l206 no-pointer-events"
                                                                        stroke="#ffffff" fill="#00ebff" fill-opacity="1"
                                                                        stroke-width="2" stroke-opacity="0.9"
                                                                        default-marker-size="0"></circle>
                                                                </g>
                                                            </g>
                                                        </g>
                                                        <g id="SvgjsG1356" class="apexcharts-datalabels"
                                                            data:realIndex="0"></g>
                                                    </g>
                                                    <line id="SvgjsLine1382" x1="0" y1="0" x2="48" y2="0"
                                                        stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1"
                                                        stroke-linecap="butt" class="apexcharts-ycrosshairs"></line>
                                                    <line id="SvgjsLine1383" x1="0" y1="0" x2="48" y2="0"
                                                        stroke-dasharray="0" stroke-width="0" stroke-linecap="butt"
                                                        class="apexcharts-ycrosshairs-hidden"></line>
                                                    <g id="SvgjsG1384" class="apexcharts-yaxis-annotations"></g>
                                                    <g id="SvgjsG1385" class="apexcharts-xaxis-annotations"></g>
                                                    <g id="SvgjsG1386" class="apexcharts-point-annotations"></g>
                                                </g>
                                                <rect id="SvgjsRect1349" width="0" height="0" x="0" y="0" rx="0" ry="0"
                                                    opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"
                                                    fill="#fefefe"></rect>
                                                <g id="SvgjsG1369" class="apexcharts-yaxis" rel="0"
                                                    transform="translate(-18, 0)"></g>
                                                <g id="SvgjsG1346" class="apexcharts-annotations"></g>
                                            </svg>
                                        </div>
                                        <div class="groth ps-2">
                                            <p>Totel revenue</p>
                                            <span>3,564</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div
                                        class="border p-2 bg-warning-subtle rounded d-flex align-items-center border-4 border-white">
                                        <div class="chat">
                                            <svg id="SvgjsSvg1389" width="48" height="48"
                                                xmlns="http://www.w3.org/2000/svg" version="1.1"
                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg hovering-pan"
                                                xmlns:data="ApexChartsNS" transform="translate(0, 0)"
                                                style="background: transparent;">
                                                <g id="SvgjsG1391" class="apexcharts-inner apexcharts-graphical"
                                                    transform="translate(0, 0)">
                                                    <defs id="SvgjsDefs1390">
                                                        <clipPath id="gridRectMaskwvx38n1o">
                                                            <rect id="SvgjsRect1397" width="54" height="50" x="-3"
                                                                y="-1" rx="0" ry="0" opacity="1" stroke-width="0"
                                                                stroke="none" stroke-dasharray="0" fill="#fff"></rect>
                                                        </clipPath>
                                                        <clipPath id="forecastMaskwvx38n1o"></clipPath>
                                                        <clipPath id="nonForecastMaskwvx38n1o"></clipPath>
                                                        <clipPath id="gridRectMarkerMaskwvx38n1o">
                                                            <rect id="SvgjsRect1398" width="52" height="52" x="-2"
                                                                y="-2" rx="0" ry="0" opacity="1" stroke-width="0"
                                                                stroke="none" stroke-dasharray="0" fill="#fff"></rect>
                                                        </clipPath>
                                                    </defs>
                                                    <line id="SvgjsLine1396" x1="13.214285714285714" y1="0"
                                                        x2="13.214285714285714" y2="48" stroke="#b6b6b6"
                                                        stroke-dasharray="3" stroke-linecap="butt"
                                                        class="apexcharts-xcrosshairs" x="13.214285714285714" y="0"
                                                        width="1" height="48" fill="#b1b9c4" filter="none"
                                                        fill-opacity="0.9" stroke-width="1"></line>
                                                    <g id="SvgjsG1405" class="apexcharts-xaxis"
                                                        transform="translate(0, 0)">
                                                        <g id="SvgjsG1406" class="apexcharts-xaxis-texts-g"
                                                            transform="translate(0, 4)"></g>
                                                    </g>
                                                    <g id="SvgjsG1416" class="apexcharts-grid">
                                                        <g id="SvgjsG1417" class="apexcharts-gridlines-horizontal"
                                                            style="display: none;">
                                                            <line id="SvgjsLine1419" x1="0" y1="0" x2="48" y2="0"
                                                                stroke="#e0e0e0" stroke-dasharray="0"
                                                                stroke-linecap="butt" class="apexcharts-gridline">
                                                            </line>
                                                            <line id="SvgjsLine1420" x1="0" y1="8" x2="48" y2="8"
                                                                stroke="#e0e0e0" stroke-dasharray="0"
                                                                stroke-linecap="butt" class="apexcharts-gridline">
                                                            </line>
                                                            <line id="SvgjsLine1421" x1="0" y1="16" x2="48" y2="16"
                                                                stroke="#e0e0e0" stroke-dasharray="0"
                                                                stroke-linecap="butt" class="apexcharts-gridline">
                                                            </line>
                                                            <line id="SvgjsLine1422" x1="0" y1="24" x2="48" y2="24"
                                                                stroke="#e0e0e0" stroke-dasharray="0"
                                                                stroke-linecap="butt" class="apexcharts-gridline">
                                                            </line>
                                                            <line id="SvgjsLine1423" x1="0" y1="32" x2="48" y2="32"
                                                                stroke="#e0e0e0" stroke-dasharray="0"
                                                                stroke-linecap="butt" class="apexcharts-gridline">
                                                            </line>
                                                            <line id="SvgjsLine1424" x1="0" y1="40" x2="48" y2="40"
                                                                stroke="#e0e0e0" stroke-dasharray="0"
                                                                stroke-linecap="butt" class="apexcharts-gridline">
                                                            </line>
                                                            <line id="SvgjsLine1425" x1="0" y1="48" x2="48" y2="48"
                                                                stroke="#e0e0e0" stroke-dasharray="0"
                                                                stroke-linecap="butt" class="apexcharts-gridline">
                                                            </line>
                                                        </g>
                                                        <g id="SvgjsG1418" class="apexcharts-gridlines-vertical"
                                                            style="display: none;"></g>
                                                        <line id="SvgjsLine1427" x1="0" y1="48" x2="48" y2="48"
                                                            stroke="transparent" stroke-dasharray="0"
                                                            stroke-linecap="butt">
                                                        </line>
                                                        <line id="SvgjsLine1426" x1="0" y1="1" x2="0" y2="48"
                                                            stroke="transparent" stroke-dasharray="0"
                                                            stroke-linecap="butt">
                                                        </line>
                                                    </g>
                                                    <g id="SvgjsG1399"
                                                        class="apexcharts-area-series apexcharts-plot-series">
                                                        <g id="SvgjsG1400" class="apexcharts-series"
                                                            seriesName="series-1" data:longestSeries="true" rel="1"
                                                            data:realIndex="0">
                                                            <path id="SvgjsPath1403"
                                                                d="M 0 48L 0 24C 2.4 24 4.457142857142857 40 6.857142857142857 40C 9.257142857142856 40 11.314285714285713 8 13.714285714285714 8C 16.114285714285714 8 18.17142857142857 24 20.57142857142857 24C 22.971428571428568 24 25.02857142857143 40 27.428571428571427 40C 29.828571428571426 40 31.885714285714286 8 34.285714285714285 8C 36.68571428571428 8 38.74285714285714 24 41.14285714285714 24C 43.54285714285714 24 45.6 16 48 16C 48 16 48 16 48 48M 48 16z"
                                                                fill="rgba(251,143,101,0.1)" fill-opacity="1"
                                                                stroke-opacity="1" stroke-linecap="butt"
                                                                stroke-width="0" stroke-dasharray="0"
                                                                class="apexcharts-area" index="0"
                                                                clip-path="url(#gridRectMaskwvx38n1o)"
                                                                pathTo="M 0 48L 0 24C 2.4 24 4.457142857142857 40 6.857142857142857 40C 9.257142857142856 40 11.314285714285713 8 13.714285714285714 8C 16.114285714285714 8 18.17142857142857 24 20.57142857142857 24C 22.971428571428568 24 25.02857142857143 40 27.428571428571427 40C 29.828571428571426 40 31.885714285714286 8 34.285714285714285 8C 36.68571428571428 8 38.74285714285714 24 41.14285714285714 24C 43.54285714285714 24 45.6 16 48 16C 48 16 48 16 48 48M 48 16z"
                                                                pathFrom="M -1 88L -1 88L 6.857142857142857 88L 13.714285714285714 88L 20.57142857142857 88L 27.428571428571427 88L 34.285714285714285 88L 41.14285714285714 88L 48 88">
                                                            </path>
                                                            <path id="SvgjsPath1404"
                                                                d="M 0 24C 2.4 24 4.457142857142857 40 6.857142857142857 40C 9.257142857142856 40 11.314285714285713 8 13.714285714285714 8C 16.114285714285714 8 18.17142857142857 24 20.57142857142857 24C 22.971428571428568 24 25.02857142857143 40 27.428571428571427 40C 29.828571428571426 40 31.885714285714286 8 34.285714285714285 8C 36.68571428571428 8 38.74285714285714 24 41.14285714285714 24C 43.54285714285714 24 45.6 16 48 16"
                                                                fill="none" fill-opacity="1" stroke="#fb8f65"
                                                                stroke-opacity="1" stroke-linecap="butt"
                                                                stroke-width="2" stroke-dasharray="0"
                                                                class="apexcharts-area" index="0"
                                                                clip-path="url(#gridRectMaskwvx38n1o)"
                                                                pathTo="M 0 24C 2.4 24 4.457142857142857 40 6.857142857142857 40C 9.257142857142856 40 11.314285714285713 8 13.714285714285714 8C 16.114285714285714 8 18.17142857142857 24 20.57142857142857 24C 22.971428571428568 24 25.02857142857143 40 27.428571428571427 40C 29.828571428571426 40 31.885714285714286 8 34.285714285714285 8C 36.68571428571428 8 38.74285714285714 24 41.14285714285714 24C 43.54285714285714 24 45.6 16 48 16"
                                                                pathFrom="M -1 88L -1 88L 6.857142857142857 88L 13.714285714285714 88L 20.57142857142857 88L 27.428571428571427 88L 34.285714285714285 88L 41.14285714285714 88L 48 88">
                                                            </path>
                                                            <g id="SvgjsG1401" class="apexcharts-series-markers-wrap"
                                                                data:realIndex="0">
                                                                <g class="apexcharts-series-markers">
                                                                    <circle id="SvgjsCircle1433" r="0"
                                                                        cx="13.714285714285714" cy="8"
                                                                        class="apexcharts-marker wl4o6grwnl no-pointer-events"
                                                                        stroke="#ffffff" fill="#fb8f65" fill-opacity="1"
                                                                        stroke-width="2" stroke-opacity="0.9"
                                                                        default-marker-size="0"></circle>
                                                                </g>
                                                            </g>
                                                        </g>
                                                        <g id="SvgjsG1402" class="apexcharts-datalabels"
                                                            data:realIndex="0"></g>
                                                    </g>
                                                    <line id="SvgjsLine1428" x1="0" y1="0" x2="48" y2="0"
                                                        stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1"
                                                        stroke-linecap="butt" class="apexcharts-ycrosshairs"></line>
                                                    <line id="SvgjsLine1429" x1="0" y1="0" x2="48" y2="0"
                                                        stroke-dasharray="0" stroke-width="0" stroke-linecap="butt"
                                                        class="apexcharts-ycrosshairs-hidden"></line>
                                                    <g id="SvgjsG1430" class="apexcharts-yaxis-annotations"></g>
                                                    <g id="SvgjsG1431" class="apexcharts-xaxis-annotations"></g>
                                                    <g id="SvgjsG1432" class="apexcharts-point-annotations"></g>
                                                </g>
                                                <rect id="SvgjsRect1395" width="0" height="0" x="0" y="0" rx="0" ry="0"
                                                    opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"
                                                    fill="#fefefe"></rect>
                                                <g id="SvgjsG1415" class="apexcharts-yaxis" rel="0"
                                                    transform="translate(-18, 0)"></g>
                                                <g id="SvgjsG1392" class="apexcharts-annotations"></g>
                                            </svg>
                                        </div>
                                        <div class="groth ps-2">
                                            <p>Totel revenue</p>
                                            <span>3,564</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div
                                        class="border p-2 bg-primary-subtle rounded d-flex align-items-center border-4 border-white">
                                        <div class="chat">
                                            <svg id="SvgjsSvg1096" width="48" height="48"
                                                xmlns="http://www.w3.org/2000/svg" version="1.1"
                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg hovering-pan"
                                                xmlns:data="ApexChartsNS" transform="translate(0, 0)"
                                                style="background: transparent;">
                                                <g id="SvgjsG1098" class="apexcharts-inner apexcharts-graphical"
                                                    transform="translate(0, 0)">
                                                    <defs id="SvgjsDefs1097">
                                                        <clipPath id="gridRectMask7j9mrtf8">
                                                            <rect id="SvgjsRect1104" width="54" height="50" x="-3"
                                                                y="-1" rx="0" ry="0" opacity="1" stroke-width="0"
                                                                stroke="none" stroke-dasharray="0" fill="#fff"></rect>
                                                        </clipPath>
                                                        <clipPath id="forecastMask7j9mrtf8"></clipPath>
                                                        <clipPath id="nonForecastMask7j9mrtf8"></clipPath>
                                                        <clipPath id="gridRectMarkerMask7j9mrtf8">
                                                            <rect id="SvgjsRect1105" width="52" height="52" x="-2"
                                                                y="-2" rx="0" ry="0" opacity="1" stroke-width="0"
                                                                stroke="none" stroke-dasharray="0" fill="#fff"></rect>
                                                        </clipPath>
                                                    </defs>
                                                    <line id="SvgjsLine1103" x1="13.214285714285714" y1="0"
                                                        x2="13.214285714285714" y2="48" stroke="#b6b6b6"
                                                        stroke-dasharray="3" stroke-linecap="butt"
                                                        class="apexcharts-xcrosshairs" x="13.214285714285714" y="0"
                                                        width="1" height="48" fill="#b1b9c4" filter="none"
                                                        fill-opacity="0.9" stroke-width="1"></line>
                                                    <g id="SvgjsG1112" class="apexcharts-xaxis"
                                                        transform="translate(0, 0)">
                                                        <g id="SvgjsG1113" class="apexcharts-xaxis-texts-g"
                                                            transform="translate(0, 4)"></g>
                                                    </g>
                                                    <g id="SvgjsG1123" class="apexcharts-grid">
                                                        <g id="SvgjsG1124" class="apexcharts-gridlines-horizontal"
                                                            style="display: none;">
                                                            <line id="SvgjsLine1126" x1="0" y1="0" x2="48" y2="0"
                                                                stroke="#e0e0e0" stroke-dasharray="0"
                                                                stroke-linecap="butt" class="apexcharts-gridline">
                                                            </line>
                                                            <line id="SvgjsLine1127" x1="0" y1="8" x2="48" y2="8"
                                                                stroke="#e0e0e0" stroke-dasharray="0"
                                                                stroke-linecap="butt" class="apexcharts-gridline">
                                                            </line>
                                                            <line id="SvgjsLine1128" x1="0" y1="16" x2="48" y2="16"
                                                                stroke="#e0e0e0" stroke-dasharray="0"
                                                                stroke-linecap="butt" class="apexcharts-gridline">
                                                            </line>
                                                            <line id="SvgjsLine1129" x1="0" y1="24" x2="48" y2="24"
                                                                stroke="#e0e0e0" stroke-dasharray="0"
                                                                stroke-linecap="butt" class="apexcharts-gridline">
                                                            </line>
                                                            <line id="SvgjsLine1130" x1="0" y1="32" x2="48" y2="32"
                                                                stroke="#e0e0e0" stroke-dasharray="0"
                                                                stroke-linecap="butt" class="apexcharts-gridline">
                                                            </line>
                                                            <line id="SvgjsLine1131" x1="0" y1="40" x2="48" y2="40"
                                                                stroke="#e0e0e0" stroke-dasharray="0"
                                                                stroke-linecap="butt" class="apexcharts-gridline">
                                                            </line>
                                                            <line id="SvgjsLine1132" x1="0" y1="48" x2="48" y2="48"
                                                                stroke="#e0e0e0" stroke-dasharray="0"
                                                                stroke-linecap="butt" class="apexcharts-gridline">
                                                            </line>
                                                        </g>
                                                        <g id="SvgjsG1125" class="apexcharts-gridlines-vertical"
                                                            style="display: none;"></g>
                                                        <line id="SvgjsLine1134" x1="0" y1="48" x2="48" y2="48"
                                                            stroke="transparent" stroke-dasharray="0"
                                                            stroke-linecap="butt">
                                                        </line>
                                                        <line id="SvgjsLine1133" x1="0" y1="1" x2="0" y2="48"
                                                            stroke="transparent" stroke-dasharray="0"
                                                            stroke-linecap="butt">
                                                        </line>
                                                    </g>
                                                    <g id="SvgjsG1106"
                                                        class="apexcharts-area-series apexcharts-plot-series">
                                                        <g id="SvgjsG1107" class="apexcharts-series"
                                                            seriesName="series-1" data:longestSeries="true" rel="1"
                                                            data:realIndex="0">
                                                            <path id="SvgjsPath1110"
                                                                d="M0 48L0 24C2.4 24 4.457142857142857 40 6.857142857142857 40C9.257142857142856 40 11.314285714285713 8 13.714285714285714 8C16.114285714285714 8 18.17142857142857 24 20.57142857142857 24C22.971428571428568 24 25.02857142857143 40 27.428571428571427 40C29.828571428571426 40 31.885714285714286 8 34.285714285714285 8C36.68571428571428 8 38.74285714285714 24 41.14285714285714 24C43.54285714285714 24 45.6 16 48 16C48 16 48 16 48 48M48 16C48 16 48 16 48 16 "
                                                                fill="rgba(87,67,190,0.1)" fill-opacity="1"
                                                                stroke-opacity="1" stroke-linecap="butt"
                                                                stroke-width="0" stroke-dasharray="0"
                                                                class="apexcharts-area" index="0"
                                                                clip-path="url(#gridRectMask7j9mrtf8)"
                                                                pathTo="M 0 48L 0 24C 2.4 24 4.457142857142857 40 6.857142857142857 40C 9.257142857142856 40 11.314285714285713 8 13.714285714285714 8C 16.114285714285714 8 18.17142857142857 24 20.57142857142857 24C 22.971428571428568 24 25.02857142857143 40 27.428571428571427 40C 29.828571428571426 40 31.885714285714286 8 34.285714285714285 8C 36.68571428571428 8 38.74285714285714 24 41.14285714285714 24C 43.54285714285714 24 45.6 16 48 16C 48 16 48 16 48 48M 48 16z"
                                                                pathFrom="M -1 88L -1 88L 6.857142857142857 88L 13.714285714285714 88L 20.57142857142857 88L 27.428571428571427 88L 34.285714285714285 88L 41.14285714285714 88L 48 88">
                                                            </path>
                                                            <path id="SvgjsPath1111"
                                                                d="M0 24C2.4 24 4.457142857142857 40 6.857142857142857 40C9.257142857142856 40 11.314285714285713 8 13.714285714285714 8C16.114285714285714 8 18.17142857142857 24 20.57142857142857 24C22.971428571428568 24 25.02857142857143 40 27.428571428571427 40C29.828571428571426 40 31.885714285714286 8 34.285714285714285 8C36.68571428571428 8 38.74285714285714 24 41.14285714285714 24C43.54285714285714 24 45.6 16 48 16C48 16 48 16 48 16 "
                                                                fill="none" fill-opacity="1" stroke="#5743be"
                                                                stroke-opacity="1" stroke-linecap="butt"
                                                                stroke-width="2" stroke-dasharray="0"
                                                                class="apexcharts-area" index="0"
                                                                clip-path="url(#gridRectMask7j9mrtf8)"
                                                                pathTo="M 0 24C 2.4 24 4.457142857142857 40 6.857142857142857 40C 9.257142857142856 40 11.314285714285713 8 13.714285714285714 8C 16.114285714285714 8 18.17142857142857 24 20.57142857142857 24C 22.971428571428568 24 25.02857142857143 40 27.428571428571427 40C 29.828571428571426 40 31.885714285714286 8 34.285714285714285 8C 36.68571428571428 8 38.74285714285714 24 41.14285714285714 24C 43.54285714285714 24 45.6 16 48 16"
                                                                pathFrom="M -1 88L -1 88L 6.857142857142857 88L 13.714285714285714 88L 20.57142857142857 88L 27.428571428571427 88L 34.285714285714285 88L 41.14285714285714 88L 48 88">
                                                            </path>
                                                            <g id="SvgjsG1108" class="apexcharts-series-markers-wrap"
                                                                data:realIndex="0">
                                                                <g class="apexcharts-series-markers">
                                                                    <circle id="SvgjsCircle1140" r="0"
                                                                        cx="13.714285714285714" cy="8"
                                                                        class="apexcharts-marker wu1t7womm no-pointer-events"
                                                                        stroke="#ffffff" fill="#5743be" fill-opacity="1"
                                                                        stroke-width="2" stroke-opacity="0.9"
                                                                        default-marker-size="0"></circle>
                                                                </g>
                                                            </g>
                                                        </g>
                                                        <g id="SvgjsG1109" class="apexcharts-datalabels"
                                                            data:realIndex="0"></g>
                                                    </g>
                                                    <line id="SvgjsLine1135" x1="0" y1="0" x2="48" y2="0"
                                                        stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1"
                                                        stroke-linecap="butt" class="apexcharts-ycrosshairs"></line>
                                                    <line id="SvgjsLine1136" x1="0" y1="0" x2="48" y2="0"
                                                        stroke-dasharray="0" stroke-width="0" stroke-linecap="butt"
                                                        class="apexcharts-ycrosshairs-hidden"></line>
                                                    <g id="SvgjsG1137" class="apexcharts-yaxis-annotations"></g>
                                                    <g id="SvgjsG1138" class="apexcharts-xaxis-annotations"></g>
                                                    <g id="SvgjsG1139" class="apexcharts-point-annotations"></g>
                                                </g>
                                                <rect id="SvgjsRect1102" width="0" height="0" x="0" y="0" rx="0" ry="0"
                                                    opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"
                                                    fill="#fefefe"></rect>
                                                <g id="SvgjsG1122" class="apexcharts-yaxis" rel="0"
                                                    transform="translate(-18, 0)"></g>
                                                <g id="SvgjsG1099" class="apexcharts-annotations"></g>
                                            </svg>
                                        </div>
                                        <div class="groth ps-2">
                                            <p>Totel revenue</p>
                                            <span>3,564</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container-fluid mt-3 d-flex p-1 justify-content-between">
                            <div class="col-8 p-2">
                                <div class="p-2 bg-white rounded">
                                    <div
                                        class="detail p-2 border-bottom d-flex justify-content-between align-items-center">
                                        <h3>revenue report</h3>
                                        <ul class="d-flex fs-6">
                                            <li class="pe-4">Net Profit</li>
                                            <li class="pe-4">Revenue</li>
                                            <li class="pe-4">Free Cash Flow</li>
                                        </ul>
                                    </div>
                                    <div id="chart1"></div>
                                </div>

                            </div>
                            <div class="col-4 p-2">
                                <div class="p-2 bg-white rounded">
                                    <div class="detail p-4 border-bottom">
                                        <h3>Overview</h3>
                                    </div>
                                    <div id="chart2"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 d-flex">
                            <div class="col-8 p-3">
                                <table class="table bg-white rounded">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                <h2>All Company</h2>
                                            </th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th scope="col"><button class="border-1 rounded">
                                                    <i class="bi bi-three-dots"></i></button>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="bg-secondary-subtle">
                                            <th scope="row">Company</th>
                                            <td>Catagory</td>
                                            <td>views</td>
                                            <td>Revenue</td>
                                            <td>Sales</td>
                                        </tr>


                                        <tr>
                                            <th scope="row">
                                                <div class="frame d-flex align-items-center">
                                                    <div class="profile rounded-circle">
                                                        <img src="images/download (1).png" alt="">
                                                    </div>
                                                    <div class="name ps-3">
                                                        Narendra Posal
                                                    </div>
                                                </div>
                                            </th>
                                            <td>Technology</td>
                                            <td>345</td>
                                            <td>$432.14</td>
                                            <td>
                                                <span class="pe-3">95%</span>
                                                <i class="bi bi-graph-down-arrow text-danger"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <div class="frame d-flex align-items-center">
                                                    <div class="profile rounded-circle">
                                                        <img src="images/download (1).png" alt="">
                                                    </div>
                                                    <div class="name ps-3">
                                                        Narendra Posal
                                                    </div>
                                                </div>
                                            </th>
                                            <td>Technology</td>
                                            <td>321</td>
                                            <td>$432.14</td>
                                            <td>
                                                <span class="pe-2">123%</span>
                                                <i class="bi bi-graph-up-arrow text-success"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <div class="frame d-flex align-items-center">
                                                    <div class="profile rounded-circle">
                                                        <img src="images/download (1).png" alt="">
                                                    </div>
                                                    <div class="name ps-3">
                                                        Narendra Posal
                                                    </div>
                                                </div>
                                            </th>
                                            <td>Technology</td>
                                            <td>356</td>
                                            <td>$432.14</td>
                                            <td>
                                                <span class="pe-2">122%</span>
                                                <i class="bi bi-graph-up-arrow text-success"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <div class="frame d-flex align-items-center">
                                                    <div class="profile rounded-circle">
                                                        <img src="images/download (1).png" alt="">
                                                    </div>
                                                    <div class="name ps-3">
                                                        Narendra Posal
                                                    </div>
                                                </div>
                                            </th>
                                            <td>Technology</td>
                                            <td>456</td>
                                            <td>$432.14</td>
                                            <td>
                                                <span class="pe-2">134%</span>
                                                <i class="bi bi-graph-up-arrow text-success"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <div class="frame d-flex align-items-center">
                                                    <div class="profile rounded-circle">
                                                        <img src="images/download (1).png" alt="">
                                                    </div>
                                                    <div class="name ps-3">
                                                        Narendra Posal
                                                    </div>
                                                </div>
                                            </th>
                                            <td>Technology</td>
                                            <td>234</td>
                                            <td>$432.14</td>
                                            <td>
                                                <span class="pe-3">98%</span>
                                                <i class="bi bi-graph-down-arrow text-danger"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-4 p-3">
                                <table class="table bg-white rounded">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                <h2>All Company</h2>
                                            </th>
                                            <th scope="col">
                                                <button class="border-1 rounded">
                                                    <i class="bi bi-three-dots"></i></button>
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">
                                                <div class="frame d-flex align-items-center">
                                                    <div class="profile rounded-circle">
                                                        <img src="images/download (1).png" alt="">
                                                    </div>
                                                    <div class="name ps-3">
                                                        Web Back-End Devloper...
                                                    </div>
                                                </div>
                                            </th>
                                            <td>1 hour</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <div class="frame d-flex align-items-center">
                                                    <div class="profile rounded-circle">
                                                        <img src="images/download (1).png" alt="">
                                                    </div>
                                                    <div class="name ps-3">
                                                        Web Back-End Devloper...
                                                    </div>
                                                </div>
                                            </th>
                                            <td>1 hour</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <div class="frame d-flex align-items-center">
                                                    <div class="profile rounded-circle">
                                                        <img src="images/download (1).png" alt="">
                                                    </div>
                                                    <div class="name ps-3">
                                                        Web Back-End Devloper...
                                                    </div>
                                                </div>
                                            </th>
                                            <td colspan="2">1 hour</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <div class="frame d-flex align-items-center">
                                                    <div class="profile rounded-circle">
                                                        <img src="images/download (1).png" alt="">
                                                    </div>
                                                    <div class="name ps-3">
                                                        Web Back-End Devloper...
                                                    </div>
                                                </div>
                                            </th>
                                            <td colspan="2">1 hour</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <div class="frame d-flex align-items-center">
                                                    <div class="profile rounded-circle">
                                                        <img src="images/download (1).png" alt="">
                                                    </div>
                                                    <div class="name ps-3">
                                                        Web Back-End Devloper...
                                                    </div>
                                                </div>
                                            </th>
                                            <td colspan="2">1 hour</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <div class="frame d-flex align-items-center">
                                                    <div class="profile rounded-circle">
                                                        <img src="images/download (1).png" alt="">
                                                    </div>
                                                    <div class="name ps-3">
                                                        Web Back-End Devloper...
                                                    </div>
                                                </div>
                                            </th>
                                            <td colspan="2">1 hour</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-12 d-flex p-3">
                            <div class="col-8 bg-white rounded p-3">
                                <div class="sales col-12 d-flex border-bottom p-3">
                                    <h2 class="col-9">Most Sales</h2>
                                    <div
                                        class="d-flex col-3 p-2 border border-dark-subtle rounded justify-content-evenly">
                                        <button class="rounded py-1 border-0  px-3 bg-white">Global</button>
                                        <button class="rounded py-1 border-0  px-3 bg-black text-white">USA</button>
                                    </div>
                                </div>
                                <div class="map d-flex">
                                    <div class="earning col-4 pt-3">
                                        <div class="total-earning">
                                            <p class="mb-2" style="font-size: 14px;"> Total earnings </p>
                                            <h6 class="mb-2" style="font-size: 16px;"> $12,65,64787.00 </h6>
                                            <p class="mb-2" style="font-size: 12px;"><span
                                                    class="text-info">+0.8%</span> From
                                                last month </p>
                                        </div>
                                        <div class="list">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <div
                                                        class="des d-flex justify-content-evenly align-items-center py-1">
                                                        <div class="dot-1"></div>
                                                        <p>Nevada</p>
                                                        <p>$124k</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div
                                                        class="des d-flex justify-content-evenly align-items-center py-1">
                                                        <div class="dot-2"></div>
                                                        <p>Nevada</p>
                                                        <p>$124k</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div
                                                        class="des d-flex justify-content-evenly align-items-center py-1">
                                                        <div class="dot-3"></div>
                                                        <p>Nevada</p>
                                                        <p>$124k</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div
                                                        class="des d-flex justify-content-evenly align-items-center py-1">
                                                        <div class="dot-4"></div>
                                                        <p>Nevada</p>
                                                        <p>$124k</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div
                                                        class="des d-flex justify-content-evenly align-items-center py-1">
                                                        <div class="dot-5"></div>
                                                        <p>Nevada</p>
                                                        <p>$124k</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="map-c col-8 py-3">
                                        <div id="chartdiv"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 p-2 rounded">
                                <div class="over d-flex justify-content-between p-4 bg-white border-bottom">
                                    <h2>Overview</h2>
                                    <div class="dropdown">
                                        <button class="btn bg-white dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            january
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">January</a></li>
                                            <li><a class="dropdown-item" href="#">February</a></li>
                                            <li><a class="dropdown-item" href="#">March</a></li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="cir bg-white p-2">
                                    <div class="vue-apexcharts" style="min-height: 220.975px;">
                                        <div id="apexcharts4p9n4fkx"
                                            class="apexcharts-canvas apexcharts4p9n4fkx apexcharts-theme-light"
                                            style="width: 346px; height: 220.975px;"><svg id="SvgjsSvg1825" width="346"
                                                height="220.97500000000002" xmlns="http://www.w3.org/2000/svg"
                                                version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg"
                                                xmlns:data="ApexChartsNS" transform="translate(0, 0)"
                                                style="background: transparent;">
                                                <g id="SvgjsG1827" class="apexcharts-inner apexcharts-graphical"
                                                    transform="translate(36, 0)">
                                                    <defs id="SvgjsDefs1826">
                                                        <clipPath id="gridRectMask4p9n4fkx">
                                                            <rect id="SvgjsRect1829" width="282" height="300" x="-3"
                                                                y="-1" rx="0" ry="0" opacity="1" stroke-width="0"
                                                                stroke="none" stroke-dasharray="0" fill="#fff"></rect>
                                                        </clipPath>
                                                        <clipPath id="forecastMask4p9n4fkx"></clipPath>
                                                        <clipPath id="nonForecastMask4p9n4fkx"></clipPath>
                                                        <clipPath id="gridRectMarkerMask4p9n4fkx">
                                                            <rect id="SvgjsRect1830" width="280" height="302" x="-2"
                                                                y="-2" rx="0" ry="0" opacity="1" stroke-width="0"
                                                                stroke="none" stroke-dasharray="0" fill="#fff"></rect>
                                                        </clipPath>
                                                        <linearGradient id="SvgjsLinearGradient1835" x1="1" y1="0"
                                                            x2="0" y2="1">
                                                            <stop id="SvgjsStop1836" stop-opacity="1"
                                                                stop-color="rgba(242,242,242,1)" offset="0"></stop>
                                                            <stop id="SvgjsStop1837" stop-opacity="1"
                                                                stop-color="rgba(206,206,206,1)" offset="0.5"></stop>
                                                            <stop id="SvgjsStop1838" stop-opacity="1"
                                                                stop-color="rgba(206,206,206,1)" offset="0.65"></stop>
                                                            <stop id="SvgjsStop1839" stop-opacity="1"
                                                                stop-color="rgba(242,242,242,1)" offset="0.91"></stop>
                                                        </linearGradient>
                                                        <linearGradient id="SvgjsLinearGradient1847" x1="1" y1="0"
                                                            x2="0" y2="1">
                                                            <stop id="SvgjsStop1848" stop-opacity="1"
                                                                stop-color="rgba(70,105,250,1)" offset="0"></stop>
                                                            <stop id="SvgjsStop1849" stop-opacity="1"
                                                                stop-color="rgba(60,89,213,1)" offset="0.5"></stop>
                                                            <stop id="SvgjsStop1850" stop-opacity="1"
                                                                stop-color="rgba(60,89,213,1)" offset="0.65"></stop>
                                                            <stop id="SvgjsStop1851" stop-opacity="1"
                                                                stop-color="rgba(70,105,250,1)" offset="0.91"></stop>
                                                        </linearGradient>
                                                    </defs>
                                                    <g id="SvgjsG1831" class="apexcharts-radialbar">
                                                        <g id="SvgjsG1832">
                                                            <g id="SvgjsG1833" class="apexcharts-tracks">
                                                                <g id="SvgjsG1834"
                                                                    class="apexcharts-radialbar-track apexcharts-track"
                                                                    rel="1">
                                                                    <path id="apexcharts-radialbarTrack-0"
                                                                        d="M 79.38343481566392 196.61656518433605 A 82.89634146341464 82.89634146341464 0 1 1 196.61656518433608 196.61656518433605"
                                                                        fill="none" fill-opacity="1"
                                                                        stroke="rgba(242,242,242,0.85)"
                                                                        stroke-opacity="1" stroke-linecap="butt"
                                                                        stroke-width="26.343780487804885"
                                                                        stroke-dasharray="0"
                                                                        class="apexcharts-radialbar-area"
                                                                        data:pathOrig="M 79.38343481566392 196.61656518433605 A 82.89634146341464 82.89634146341464 0 1 1 196.61656518433608 196.61656518433605">
                                                                    </path>
                                                                </g>
                                                            </g>
                                                            <g id="SvgjsG1841">
                                                                <g id="SvgjsG1846"
                                                                    class="apexcharts-series apexcharts-radial-series"
                                                                    seriesName="series-1" rel="1" data:realIndex="0">
                                                                    <path id="SvgjsPath1852"
                                                                        d="M 79.38343481566392 196.61656518433605 A 82.89634146341464 82.89634146341464 0 1 1 197.63063771709733 80.41536252201178"
                                                                        fill="none" fill-opacity="0.85"
                                                                        stroke="url(#SvgjsLinearGradient1847)"
                                                                        stroke-opacity="1" stroke-linecap="butt"
                                                                        stroke-width="27.15853658536586"
                                                                        stroke-dasharray="4"
                                                                        class="apexcharts-radialbar-area apexcharts-radialbar-slice-0"
                                                                        data:angle="181" data:value="67" index="0" j="0"
                                                                        data:pathOrig="M 79.38343481566392 196.61656518433605 A 82.89634146341464 82.89634146341464 0 1 1 197.63063771709733 80.41536252201178">
                                                                    </path>
                                                                </g>
                                                                <circle id="SvgjsCircle1842" r="64.7244512195122"
                                                                    cx="138" cy="138"
                                                                    class="apexcharts-radialbar-hollow"
                                                                    fill="transparent"></circle>
                                                                <g id="SvgjsG1843" class="apexcharts-datalabels-group"
                                                                    transform="translate(0, 0) scale(1)"
                                                                    style="opacity: 1;">
                                                                    <text id="SvgjsText1844"
                                                                        font-family="Helvetica, Arial, sans-serif"
                                                                        x="138" y="138" text-anchor="middle"
                                                                        dominant-baseline="auto" font-size="16px"
                                                                        font-weight="600" fill="#475569"
                                                                        class="apexcharts-text apexcharts-datalabel-label"
                                                                        style="font-family: Helvetica, Arial, sans-serif;">Total</text><text
                                                                        id="SvgjsText1845"
                                                                        font-family="Helvetica, Arial, sans-serif"
                                                                        x="138" y="170" text-anchor="middle"
                                                                        dominant-baseline="auto" font-size="16px"
                                                                        font-weight="400" fill="#475569"
                                                                        class="apexcharts-text apexcharts-datalabel-value"
                                                                        style="font-family: Helvetica, Arial, sans-serif;">249</text>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                    <line id="SvgjsLine1853" x1="0" y1="0" x2="276" y2="0"
                                                        stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1"
                                                        stroke-linecap="butt" class="apexcharts-ycrosshairs"></line>
                                                    <line id="SvgjsLine1854" x1="0" y1="0" x2="276" y2="0"
                                                        stroke-dasharray="0" stroke-width="0" stroke-linecap="butt"
                                                        class="apexcharts-ycrosshairs-hidden"></line>
                                                </g>
                                                <g id="SvgjsG1828" class="apexcharts-annotations"></g>
                                            </svg>
                                            <div class="apexcharts-legend"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="amount col-12 d-flex bg-white p-3 text-center">
                                    <div class="invest col-4">
                                        <p style="font-size: 12px;" class="mb-1">Invested Amount</p>
                                        <h6>$8340.57</h6>
                                    </div>
                                    <div class="invest col-4">
                                        <p style="font-size: 12px;" class="mb-1">Invested Amount</p>
                                        <h6>$8340.57</h6>
                                    </div>
                                    <div class="invest col-4">
                                        <p style="font-size: 12px;" class="mb-1">Invested Amount</p>
                                        <h6>$8340.57</h6>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-12 bg-white p-0">
                            <div class="foot p-2 d-flex justify-content-between">
                                <h5 class="fs-6 m-0"> COPYRIGHT  2022 DashCode, All rights Reserved </h5>
                                <h5 class="fs-6 m-0"> Hand-crafted & Made by <span class="text-info"> Codeshaper </span>
                                </h5>
                            </div>

                        </div>

                    </div>
                </div>

        </div>

        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
        <script src="https://cdn.amcharts.com/lib/5/map.js"></script>
        <script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
        <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
        <script>




            var options = {
                series: [{
                    name: 'Net Profit',
                    data: [44, 55, 57, 56, 61, 58, 63, 60, 66]
                }, {
                    name: 'Revenue',
                    data: [76, 85, 101, 98, 87, 105, 91, 114, 94]
                }, {
                    name: 'Free Cash Flow',
                    data: [35, 41, 36, 26, 45, 48, 52, 53, 41]
                }],
                chart: {
                    type: 'bar',
                    height: 350
                },
                plotOptions: {
                    bar: {
                        horizontal: false,
                        columnWidth: '50%',
                        endingShape: 'rounded'
                    },
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    show: true,
                    width: 2,
                    colors: ['transparent']
                },
                xaxis: {
                    categories: ['Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct'],
                },
                yaxis: {
                    title: {
                        text: '$ (thousands)'
                    }
                },
                fill: {
                    opacity: 1
                },
                tooltip: {
                    y: {
                        formatter: function (val) {
                            return "$ " + val + " thousands"
                        }
                    }
                }
            };

            var chart = new ApexCharts(document.querySelector("#chart1"), options);
            chart.render();



            var options = {
                series: [44, 55, 67, 83],
                chart: {
                    height: 350,
                    type: 'radialBar',
                },
                plotOptions: {
                    radialBar: {
                        dataLabels: {
                            name: {
                                fontSize: '22px',
                            },
                            value: {
                                fontSize: '16px',
                            },
                            total: {
                                show: true,
                                label: 'Total',
                                formatter: function (w) {
                                    // By default this function returns the average of all series. The below is just an example to show the use of custom formatter function
                                    return 249
                                }
                            }
                        }
                    }
                },
                labels: ['Apples', 'Oranges', 'Bananas', 'Berries'],
            };

            var chart = new ApexCharts(document.querySelector("#chart2"), options);
            chart.render();


        </script>

        <script>
            am5.ready(function () {

                var data = [
                    {
                        id: "US",
                        name: "United States",
                        value: 100
                    }, {
                        id: "GB",
                        name: "United Kingdom",
                        value: 100
                    }, {
                        id: "CN",
                        name: "China",
                        value: 100
                    }, {
                        id: "IN",
                        name: "India",
                        value: 100
                    }, {
                        id: "AU",
                        name: "Australia",
                        value: 100
                    }, {
                        id: "CA",
                        name: "Canada",
                        value: 100
                    }, {
                        id: "BR",
                        name: "Brasil",
                        value: 100
                    }, {
                        id: "ZA",
                        name: "South Africa",
                        value: 100
                    }
                ];

                var root = am5.Root.new("chartdiv");
                root.setThemes([am5themes_Animated.new(root)]);

                var chart = root.container.children.push(am5map.MapChart.new(root, {}));

                var polygonSeries = chart.series.push(
                    am5map.MapPolygonSeries.new(root, {
                        geoJSON: am5geodata_worldLow,
                        exclude: ["AQ"]
                    })
                );

                var bubbleSeries = chart.series.push(
                    am5map.MapPointSeries.new(root, {
                        valueField: "value",
                        calculateAggregates: true,
                        polygonIdField: "id"
                    })
                );

                var circleTemplate = am5.Template.new({});

                bubbleSeries.bullets.push(function (root, series, dataItem) {
                    var container = am5.Container.new(root, {});

                    var circle = container.children.push(
                        am5.Circle.new(root, {
                            radius: 0,
                            fillOpacity: 0,
                            fill: am5.color(0xfff),
                            cursorOverStyle: "pointer",
                            tooltipText: `{name}: [bold]{value}[/]`
                        }, circleTemplate)
                    );

                    var countryLabel = container.children.push(
                        am5.Label.new(root, {
                            text: "{name}",
                            paddingLeft: 5,
                            populateText: true,
                            fontWeight: "bold",
                            fontSize: 13,
                            centerY: am5.p50
                        })
                    );

                    circle.on("radius", function (radius) {
                        countryLabel.set("x", radius);
                    })

                    return am5.Bullet.new(root, {
                        sprite: container,
                        dynamic: true
                    });
                });

                bubbleSeries.bullets.push(function (root, series, dataItem) {
                    return am5.Bullet.new(root, {
                        sprite: am5.Label.new(root, {
                            text: "{value.formatNumber('#.')}",
                            fill: am5.color(0xffffff),
                            populateText: true,
                            centerX: am5.p50,
                            centerY: am5.p50,
                            textAlign: "center"
                        }),
                        dynamic: true
                    });
                });



                // minValue and maxValue must be set for the animations to work
                bubbleSeries.set("heatRules", [
                    {
                        target: circleTemplate,
                        dataField: "value",
                        min: 10,
                        max: 50,
                        minValue: 0,
                        maxValue: 100,
                        key: "radius"
                    }
                ]);

                bubbleSeries.data.setAll(data);

                updateData();
                setInterval(function () {
                    updateData();
                }, 2000)

                function updateData() {
                    for (var i = 0; i < bubbleSeries.dataItems.length; i++) {
                        bubbleSeries.data.setIndex(i, { value: Math.round(Math.random() * 100), id: data[i].id, name: data[i].name })
                    }
                }


            }); // end am5.ready()
        </script>

    </body>

    </html>