<%- include('header') -%>

    <body>

        <div class="main-wrapper d-flex">

            <div class="sidebar text-bg-light p-3 overflow-y-scroll top-0 start-0 vh-100">

                <div class="col-12">
                    <div class="logo">
                        <img src="images/logo-60c41eaa.svg" alt="" class="img-fluid p-3" />
                    </div>
                    <nav class="mt-3">
                        <h6 class="ps-2 fs-6">Menu</h6>
                        <ul class="list-unstyled ps-4">
                            <li class="nav-item mb-2 nav-link">
                                <a href="#" class="nav-link d-flex justify-content-between">
                                    <div class="d-flex">
                                        <i class="bi bi-house"></i>
                                        <div class="dropdown">
                                            <a class="btn dropdown-toggle" role="button" data-bs-toggle="dropdown">
                                                DashBord
                                            </a>

                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="/home"><i
                                                            class="bi bi-house-door me-2"></i>Home</a></li>
                                                <li><a class="dropdown-item" href="profile"><i
                                                            class="bi bi-person me-2"></i>Profile </a></li>
                                                <li>
                                                    <hr class="dropdown-divider my-1">
                                                </li>
                                                <li><a class="dropdown-item" href="register"><i
                                                            class="bi bi-person-plus me-2"></i>Sign Up </a></li>
                                                <li><a class="dropdown-item" href="/log_on"><i
                                                            class="bi bi-box-arrow-in-right me-2"></i>Log In </a></li>
                                                <li><a class="dropdown-item" href="changePass"><i
                                                            class="bi bi-key me-2"></i>Change Password </a></li>
                                                <li><a class="dropdown-item text-danger" href="/logout"><i
                                                            class="bi bi-box-arrow-right me-2"></i>Logout</a></li>

                                            </ul>
                                        </div>
                                    </div>

                                </a>
                            </li>
                            <li class="nav-item mb-1 mb-2">
                                <a href="#" class="nav-link d-flex justify-content-between align-item-center">
                                    <div>
                                        <i class="bi bi-graph-up-arrow"></i>
                                        Changelog
                                    </div>
                                </a>
                            </li>
                        </ul>

                        <h6 class="ps-2 fs-6">Apps</h6>
                        <ul class="list-unstyled ps-4">
                            <li class="nav-item mb-1 mb-2">
                                <a href="#" class="nav-link d-flex justify-content-between">
                                    <div>
                                        <i class="bi bi-chat-dots"></i>
                                        Chat
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item mb-1 mb-2">
                                <a href="#" class="nav-link d-flex justify-content-between">
                                    <div>
                                        <i class="bi bi-envelope"></i>
                                        E-mail
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item mb-1 mb-2">
                                <a href="#" class="nav-link d-flex justify-content-between">
                                    <div>
                                        <i class="bi bi-kanban"></i>
                                        Kanbar
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item mb-1 mb-2">
                                <a href="#" class="nav-link d-flex justify-content-between">
                                    <div>
                                        <i class="bi bi-calendar-date"></i>
                                        Celendar
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item mb-1 mb-2">
                                <a href="#" class="nav-link d-flex justify-content-between">
                                    <div>
                                        <i class="bi bi-check2-square"></i>
                                        Todo
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item mb-1 mb-2">
                                <a href="#" class="nav-link d-flex justify-content-between">
                                    <div>
                                        <i class="bi bi-file-earmark-check-fill"></i>
                                        Projects
                                    </div>
                                    <div class="chevron-icon">
                                        <i class="bi bi-chevron-right" style="font-size: 12px;"></i>
                                    </div>
                                </a>
                            </li>
                        </ul>

                        <h6 class="ps-2 fs-6">Pages</h6>
                        <ul class="list-unstyled ps-4">
                            <li class="nav-item mb-1 mb-2">
                                <a href="blog" class="nav-link d-flex justify-content-between">
                                    <div>
                                        <i class="bi bi-award-fill"></i>
                                        Blogs
                                    </div>
                                    <div class="chevron-icon">
                                        <i class="bi bi-chevron-right" style="font-size: 12px;"></i>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item mb-1 mb-2">
                                <a href="#" class="nav-link d-flex justify-content-between">
                                    <div>
                                        <i class="bi bi-lock-fill"></i>
                                        Authentication
                                    </div>
                                    <div class="chevron-icon">
                                        <i class="bi bi-chevron-right" style="font-size: 12px;"></i>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item mb-1 mb-2">
                                <a href="#" class="nav-link d-flex justify-content-between">
                                    <div>
                                         <i class="bi bi-distribute-vertical"></i>
                                        Utility
                                    </div>
                                    <div class="chevron-icon">
                                        <i class="bi bi-chevron-right" style="font-size: 12px;"></i>
                                    </div>
                                </a>
                            </li>
                        </ul>

                        <h6 class="ps-2 fs-6">Elements</h6>
                        <ul class="list-unstyled ps-4 pb-1">
                            <li class="nav-item mb-1 mb-2">
                                <a href="#" class="nav-link d-flex justify-content-between">
                                    <div>
                                        <i class="bi bi-menu-button-wide"></i>
                                        Widgets
                                    </div>
                                    <div class="chevron-icon">
                                        <i class="bi bi-chevron-right" style="font-size: 12px;"></i>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item mb-1 mb-2">
                                <a href="#" class="nav-link d-flex justify-content-between">
                                    <div>
                                        <i class="bi bi-pip"></i>
                                        Components
                                    </div>
                                    <div class="chevron-icon">
                                        <i class="bi bi-chevron-right" style="font-size: 12px;"></i>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item mb-1 mb-2">
                                <a href="#" class="nav-link d-flex justify-content-between">
                                    <div>
                                        <i class="bi bi-ui-radios"></i>
                                        Forms
                                    </div>
                                    <div class="chevron-icon">
                                        <i class="bi bi-chevron-right" style="font-size: 12px;"></i>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item mb-1 mb-2">
                                <a href="#" class="nav-link d-flex justify-content-between">
                                    <div>
                                        <i class="bi bi-file-spreadsheet"></i>
                                        Tables
                                    </div>
                                    <div class="chevron-icon">
                                        <i class="bi bi-chevron-right" style="font-size: 12px;"></i>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item mb-1 mb-2">
                                <a href="#" class="nav-link d-flex justify-content-between">
                                    <div>
                                        <i class="bi bi-graph-down"></i>
                                        Chart
                                    </div>
                                    <div class="chevron-icon">
                                        <i class="bi bi-chevron-right" style="font-size: 12px;"></i>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item mb-1 mb-2">
                                <a href="#" class="nav-link d-flex justify-content-between">
                                    <div>
                                        <i class="bi bi-map"></i>
                                        Map
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item mb-1 mb-2">
                                <a href="#" class="nav-link d-flex justify-content-between">
                                    <div>
                                        <i class="bi bi-emoji-sunglasses"></i>
                                        Icons
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item mb-1 mb-2">
                                <a href="#" class="nav-link d-flex justify-content-between">
                                    <div>
                                        <i class="bi bi-file-text"></i>
                                        Documentation
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="upgrade-card">
                            <img src="images/rabit-0cfb0342.svg" alt="Upgrade">
                            <div class="position-relative" style="z-index: 1;">
                                <h6>Unlimited Access</h6>
                                <p>Upgrade your system to business plan</p>
                                <button>Upgrade</button>
                            </div>
                        </div>
                    </nav>


                </div>
            </div>
        </div>
    </body>

    </html>