<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="newPassword">
        <form action="/updateUserpassword" method="post">
            <div class="mb-4 position-relative">
                <label class="mb-1 form-label required">New Password</label>
                <input type="password" class="form-control" name="new_password"
                placeholder="Password">
             
            </div>
            <div class="mb-4 position-relative">
                <label class="mb-1 form-label required">Confirm Password</label>
                <input type="password" class="form-control" name="confirm_password"
                placeholder="Password">
               
            </div>
            
            <div class="text-center mb-4">
                <button type="submit" class="btn btn-primary btn-block">Update</button>
            </div>
        
        </form>
    </div>

    
</body>
</html>