<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h6 class="login-title"><span>Forgot Password</span></h6>
    <form action="/verifyOtp" method="post" style="display: flex; flex-wrap: wrap; justify-content: center;">
        <input type="text" name="otppass" />

        <div class="text-center mt-4 col-12">
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </div>
    </form>
</body>

</html>